.gamebody {
  height: 100px;
  background: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
}
.gameboard {
  height: 50vh;
  width: 50vh;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}
.color {
  width: 50%;
  height: 50%;
  cursor: pointer;
  display: inline-block;
}
.left {
  float: left;
}
.right {
    float: left;
  }
.celeste {
  background: #22a6b3;
}
.celestelight {
    background: #7ed6df;
  }
.violeta {
  background: #be2edd;
}
.violetalight {
    background: #e56ffd;
  }
.naranja {
  background: #f0932b;
}
.naranjalight {
    background: #ffbe76;
  }
.verde {
  background: #117a03;
}
.verdelight {
    background: #badc58;
  }
.btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
  }
  .hide {
    display: none;
  }